// $i: 5;
.header-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 860px;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 188px;
  @for $i from 1 through 5 {
    .header-mask:nth-child(#{$i}) {
      position: absolute;
      object-fit: cover;
      width: 1440px;
      height: 860px;
      border-radius: 8px;
      @if $i == 2 {
        top: 160px;
      } @else if $i == 3 {
        top: 80px;
      } @else if $i == 4 {
        top: 160px; 
      }
      clip-path: polygon(
        calc((18% * (#{$i} - 1)) + (#{$i} -1) * 2%) 0,
        calc((18% * #{$i}) + #{$i} * 2%) 0,
        calc((18% * #{$i}) + #{$i} * 2%) 100%,
        calc((18% * (#{$i} - 1)) + (#{$i} -1) * 2%) 100%
      );
    }
  }
}
