// Breakpoint and Width Variables
$screenWidthB1: 681px;
$screenWidthB2: 801px;
$screenWidthB3: 1001px;
$screenWidthB4: 1201px;
$screenWidthB5: 1401px;
$screenWidthB6: 1921px;

$cardWidthMobile: 135px;
$cardHeightMobile: 200px;
$cardGapMobile: 10px;

$cardWidthB1: 200px;
$cardHeightB1: 300px;
$cardGapB1: 20px;

$cardWidthB2: 200px;
$cardHeightB2: 300px;
$cardGapB2: 20px;

$cardWidthB3: 250px;
$cardHeightB3: 375px;
$cardGapB3: 20px;

$cardWidthB4: 210px;
$cardHeightB4: 450px;
$cardGapB4: 20px;

$cardWidthB5: 400px;
$cardHeightB5: 600px;
$cardGapB5: 24px;

$cardGapB6: 24px;

$contentMaxWidthMobile: $cardWidthMobile * 2 + $cardGapMobile * 1;
$contentMaxWidthB1: $cardWidthB1 * 3 + $cardGapB1 * 2;
$contentMaxWidthB2: $cardWidthB2 * 3 + $cardGapB2 * 2;
$contentMaxWidthB3: $cardWidthB3 * 3 + $cardGapB3 * 2;
$contentMaxWidthB4: $cardWidthB4 * 3 + $cardGapB4 * 2;
$contentMaxWidthB5: $cardWidthB5 * 3 + $cardGapB5 * 2;
$contentMaxWidthB6: $cardWidthB5 * 3 + $cardGapB5 * 2;

// Colors and Fonts
$fontColorPrimary: #000;
$fontColorSecondary: rgba(255, 153, 0, 0.06);
$navHeight: 120px;
$fontFamilyPrimaryBold: 'Mirage-Bold';
$fontFamilyPrimary: 'Mirage-Medium';
$fontFamilySecondary: 'Akagi Pro Light';
$fontWeightBold: 700;
$fontWeightMedium: 400;
$navFontSizeMobile: 16px;
$navFontSizeDesktop: 20px;

@mixin globalFonts(
  $font-size-h1,
  $font-size-h2,
  $font-size-h3,
) {
  h1 {
    padding: 0;
    margin: 0;
    font-size: $font-size-h1;
  }
  h2 {
    padding: 0;
    margin: 0;
    font-size: $font-size-h2;
  }
  h3 {
    padding: 0;
    margin: 0;
    font-size: $font-size-h3;
  }
}
