:root {
  --text-color-primary: black;
  --text-color-secondary: #8C4E1C;
  --font-weight: 700;
  --font-family-primary: Ogg;
  --font-family-secondary: "Akagi Pro Light";
  --font-size-h1: 60px;
  --font-size-h2: 48px;
  --font-size-p1: 32px;
  --font-size-p2: 28px;
  --nav-font-size-desktop: 20px;
  --nav-font-size-mobile: 16px;

  --color-bg-primary: rgba(255, 153, 0, 0.06);
}