:root {
  --text-color-primary: black;
  --text-color-secondary: #8C4E1C;
  --font-weight: 700;
  --font-family-primary: Ogg;
  --font-family-secondary: "Akagi Pro Light";
  --font-size-h1: 60px;
  --font-size-h2: 48px;
  --font-size-p1: 32px;
  --font-size-p2: 28px;
}