@import '../../design-tokens/scss-variables'; 
/* Mobile Variables */
$fontSizeH2Mobile: 24px;
$fontSizeH3Mobile: 20px;
$fontSizeP1Mobile: 18px;
$fontSizeP2Mobile: 14px;

/* Medium Screen Variables */
$fontSizeH2Medium: 36px;
$fontSizeH3Medium: 30px;
$fontSizeP1Medium: 26px;
$fontSizeP2Medium: 20px;

/* Large Screen Variables */
$fontSizeH2Large: 40px;
$fontSizeH3Large: 32px;
$fontSizeP1Large: 28px;
$fontSizeP2Large: 22px;

/* Colors */
$addressTextColor: rgba(0, 0, 0, 0.5);
$daysTextColor: rgba(0, 0, 0, 0.75);
$instaLinkTextColor: #ce6924;

$imageTopOffsetMobile: -60px;
$imageTopOffsetMedium: -80px;
$imageTopOffsetLarge: -120px;

.color {
  /* Other */
  background-color: fontColorSecondary;
}

.white {
  /* Other */
  background-color: white;
}



.content {
  /* Display and Box Model */
  width: 100%;
  padding-top: $navHeight; // TODO Edit to be nav height

  .section {
    /* Display and Box Model */
    width: 100%;

    h2 {
      /* Display & Box Model */
      padding: 0;
      margin: 0;

      /* Other */
      font-size: $fontSizeH2Mobile;
      line-height: $fontSizeH2Mobile * 1.5;
    }

    h3 {
      /* Other */
      font-size: $fontSizeH3Mobile;
    }

    p {
      /* Display and Box Model */
      padding: 0;
      margin: 0;

      /* Other */
      font-size: $fontSizeP2Mobile;
      font-family: $fontFamilySecondary;
    }

    .row {
      /* Display & Box Model */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 0 auto;

      .column {
        /* Display and Box Model */
        width: 40%;
      }
    }
  }
}

#bread {
  /* Display & Box Model */
  padding: 40px 0 100px 0;

  h2 {
    /* Display and Box Model */
    margin-bottom: 8px;
  }

  p {
    /* Other */
    // max-width: 60%;
  }

  .column {
    /* Display & Box Model */
    width: 80%;
  }
}

#ingredients-row {
  position: relative;
  // width: 100%;
  // border: 1px solid red;
}

#ingredients-text {
  position: relative;
  // z-index: 2;
  // top: -40px;
  left: 40px;
  // border: 1px solid red;
}

#ingredients {
  // position: relative;
  // /* Positioning */
  // width: 100%;
  // border: 1px solid green;
  // // bottom: 0px;
  // // right: -80px;

  // /* Display & Box Model */
  // // width: 260px;
  // // max-width: 260px;
  // overflow: hidden;

  img {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;

  // right: 0;

  //   /* Display & Box Model */
  //   width: 300px;
  //   height: 300px;
    opacity: 0.2;
  // border: 1px solid blue;

  }
}

#fresh {
  /* Display & Box Model */
  padding-bottom: 40px;

  h2 {
    /* Display & Box Model */
    margin-bottom: 8px;
  }
}

#fresh-images {
  /* Positioning */
  position: relative;
  top: $imageTopOffsetMobile;

  /* Display & Box Model */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    /* Display & Box Model */
    width: 40%;
    height: 100%; // TODO change to px
    height: 200px; // TODO change to px
    margin: 0 4px;
    border-radius: 8px;

    /* Other */
    object-fit: cover;

    &:nth-child(2) {
      /* Positioning */
      position: relative;
      top: 32px;
    }
  }
}

#location {
  /* Display & Box Model */
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 120px;

  .column {
    /* Display & Box Model */
    width: 80%;
  }

  h2 {
    /* Display & Box Model */
    max-width: 75%;
  }

  hr {
    /* Display & Box Model */
    padding: 0;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 12px;
  }

  span {
    /* Other */
    font-family: $fontFamilySecondary;
    font-weight: bold;
    color: $daysTextColor;
  }
}

#address-title {
  /* Display & Box Model */
  margin: 8px 0;

  /* Other */
  font-family: $fontFamilyPrimary;
  color: $addressTextColor;
  font-weight: bold;
}

#map {
  /* Positioning */
  position: relative;
  top: $imageTopOffsetMobile;

  /* Display & Box Model */
  width: 100%;
  height: 100%;
}

#hours-of-operation {
  /* Positioning */
  position: relative;
  top: $imageTopOffsetMobile;

  /* Display & Box Model */
  display: flex;
  flex-direction: column;

  /* Other */
  text-align: right;

  .column {
    /* Display & Box Model */
    width: 80%;
  }

  .hours {
    /* Display & Box Model */
    margin-top: 20px;

    /* Other */
    font-size: $fontSizeP1Mobile;
  }

  .days {
    /* Display & Box Model */
    padding: 0;
    margin: 0;
    margin-top: 8px;

    /* Other */
    font-size: 24px;
    font-weight: 700;
    color: $daysTextColor;
  }

  img {
    /* Display & Box Model */
    width: 100%;
    margin-bottom: 40px;
    border-radius: 8px;
  }
}

#insta {
  /* Display & Box Model */
  width: 80%;
  padding: 0 0 10px 0;

  h2 {
    /* Other */
    color: $addressTextColor;
  }

  #insta-link {
    /* Other */
    color: $instaLinkTextColor;

    a {
      /* Other */
      text-decoration: underline;
      color: inherit;
    }
  }
}

#carousel {
  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px 0 40px 0;
  img {
    /* Display & Box Model */
    width: 23%;
  }
}

@media (min-width: 681px) {
  .content {
    .section {
      h2 {
        /* Other */
        font-size: $fontSizeH2Medium;
        line-height: $fontSizeH2Medium * 1.5;
      }

      h3 {
        /* Other */
        font-size: $fontSizeH3Medium;
        line-height: $fontSizeH3Medium * 1.5;
      }

      p {
        /* Other */
        font-size: $fontSizeP2Medium;
      }
    }
  }

  #bread {
    /* Display & Box Model */
    padding: 60px 0 120px 0;

    .column {
      /* Display & Box Model */
      width: 70%;
      // border: 1px solid red;
    }
  }

  #ingredients-text {
    position: relative;
    top: -2em;
  }
  
  #ingredients {
    position: relative;
  
    img {
    right: 0;
      opacity: 0.8;
  
    }
  }

  #fresh {
    /* Display & Box Model */
    padding-bottom: 40px; // TODO DELETE

    h3 {
      /* Display & Box Model */
      margin-bottom: 16px;
    }
  }

  #fresh-images {
    /* Positioning */
    top: $imageTopOffsetMedium;

    img {
      /* Display & Box Model */
      height: 360px; // TODO change to px
      margin: 0 6px;

      &:nth-child(2) {
        /* Positioning */
        top: 60px;
      }
    }
  }

  #location {
    /* Display & Box Model */
    display: flex;
    flex-direction: row;
    padding-bottom: 120px;

    .column {
      /* Display & Box Model */
      width: 40%;
    }

    hr {
      /* Display & Box Model */
      margin-top: 40px;
      margin-bottom: 20px;
    }

    #address-title {
      /* Display & Box Model */
      margin-top: 120px;
    }
  }

  #map {
    /* Positioning */
    top: calc(#{$imageTopOffsetMedium} - 60px);
  }

  #hours-of-operation {
    /* Display & Box Model */
    display: flex;
    flex-direction: row;
    padding-top: 80px;

    /* Other */
    text-align: left;

    .column {
      /* Display & Box Model */
      width: 40%;
    }

    .hours {
      /* Display & Box Model */
      margin-top: 32px;

      /* Other */
      font-size: $fontSizeP1Medium;
    }

    .days {
      /* Display & Box Model */
      padding: 0;
      margin: 0;
      margin-top: 8px;

      /* Other */
      font-size: 24px;
    }

    img {
      /* Positioning */
      position: relative;
      top: $imageTopOffsetMedium;
    }
  }

  #insta {
    /* Display & Box Model */
    width: 90%;
    padding: 80px 0 20px 0;
  }

  #carousel {
    /* Display & Box Model */
    width: 90%;
    padding: 20px 0 40px 0;
  }
}

@media (min-width: 1201px) {
  .content {
    .section {
      h2 {
        /* Other */
        font-size: $fontSizeH2Large;
        line-height: $fontSizeH2Large * 1.2;
      }

      h3 {
        /* Other */
        font-size: $fontSizeH3Large;
        line-height: $fontSizeH3Large * 1.2;
      }

      p {
        /* Other */
        font-size: $fontSizeP2Large;
      }

      .row {
        /* Display & Box Model */
        max-width: 1440px;
      }
    }
  }

  #bread {
    /* Display & Box Model */
    padding: 120px 0 240px 0;

    h2 {
      /* Display & Box Model */
      margin-bottom: 20px;
    }

    img {
      /* Display & Box Model */
      width: 800px;
    }
  }

  #fresh {
    /* Display & Box Model */
    padding-bottom: 80px;

    h2 {
      /* Display & Box Model */
      margin-bottom: 20px;
    }
  }

  #fresh-images {
    img {
      /* Positioning */
      position: relative;
      top: $imageTopOffsetLarge;

      /* Display & Box Model */
      height: 600px; // TODO change to px
      margin: 0 12px;

      &:nth-child(2) {
        /* Positioning */
        top: 45px;
      }
    }
  }

  #location {
    /* Display & Box Model */
    flex-direction: row;
    width: 100%;
    padding-bottom: 160px;

    .column {
      /* Display & Box Model */
      width: 40%;
    }
    hr {
      /* Display & Box Model */
      margin-top: 95px;
      margin-bottom: 32px;
    }
  }

  #address-title {
    /* Display & Box Model */
    align-self: center;
  }

  #map {
    /* Positioning */
    top: $imageTopOffsetLarge;
  }
  #hours-of-operation {
    /* Positioning */
    position: relative;
    top: $imageTopOffsetMedium;

    /* Display & Box Model */
    display: flex;
    flex-direction: row;
    padding-top: 80px;

    .column {
      /* Display & Box Model */
      width: 40%;
    }

    .hours {
      /* Display & Box Model */
      margin-top: 32px;

      /* Other */
      font-size: $fontSizeP1Large;
      font-family: $fontFamilySecondary;
    }

    .days {
      /* Display & Box Model */
      padding: 0;
      margin: 0;
      margin-top: 8px;

      /* Other */
      font-size: $fontSizeH3Large;
    }

    img {
      /* Positioning */
      top: $imageTopOffsetLarge;
    }
  }

  #insta {
    /* Display & Box Model */
    padding: 40px 0;
  }

  #carousel {
    /* Display & Box Model */
    padding: 40px 0;
  }
}
