$buttonWidthMobile: 94px;
$buttonHeightMobile: 30px;
$buttonGapMobile: 16px;
$buttonWidthB2: 156px;
$buttonHeightB2: 50px;
$buttonGapB2: 32px;

.link {
  text-decoration: none;
  color: inherit;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $buttonWidthMobile;
  height: $buttonHeightMobile;
  margin: 0;

  border-radius: 16px;
  border: 2px solid black;

  .link-text {
    text-decoration: none;
    color: inherit;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
  }
}

.light {
  color: black;
  background-color: white;
}

.dark {
  color: white;
  background-color: black;
}

@media (min-width: 681px) {
}

@media (min-width: 1201px) {
  .header-button {
    width: $buttonWidthB2;
    height: $buttonHeightB2;
    margin: 0;
    border-radius: 60px;

    .link-text {
      font-size: 24px;
    }
  }
}
