@import '../../design-tokens/scss-variables';

/* Mobile Variables */
// $cardWidthMobile: 135px;
$cardHeightMobile: 200px;
$cardImageContainerWidthMobile: 80px;
$cardImageWidthMobile: 40px;
$fontSizeP1Mobile: 10px;
$titlePaddingMobile: 16px;
$descriptionPaddingMobile: 8px;

/* Breakpoint 2 Variables */
$cardImageContainerWidthB1: 120px;
$cardImageWidthB1: 80px;
$fontSizeP1B1: 14px;
$titlePaddingB1: 24px;
$descriptionPaddingB1: 12px;

/* Breakpoint 2 Variables */
$cardImageContainerWidthB2: 120px;
$cardImageWidthB2: 80px;
$fontSizeP1B2: 14px;
$titlePaddingB2: 24px;
$descriptionPaddingB2: 12px;

/* Breakpoint 3 Variables */
$cardImageContainerWidthB3: 150px;
$cardImageWidthB3: 100px;
$fontSizeP1B3: 18px;
$titlePaddingB3: 32px;
$descriptionPaddingB3: 16px;

/* Breakpoint 4 Variables */
$cardImageContainerWidthB4: 180px;
$cardImageWidthB4: 120px;
$fontSizeP1B4: 18px;
$titlePaddingB4: 32px;
$descriptionPaddingB4: 16px;

/* Breakpoint 5 Variables */
$cardImageContainerWidthB5: 252px;
$cardImageWidthB5: 150px;
$fontSizeP1B5: 20px;
$titlePaddingB5: 40px;
$descriptionPaddingB5: 20px;

$cardBorderRadius: 8px;

$cardImageBorderColor: #eecdb3;
$cardDescriptionColor: #8c4e1c;
$cardBackgroundColor: #fff9f1;
$cardBorderColor: #f5dcc8;

@mixin cardStyles(
  $cardWidth,
  $cardHeight,
  $cardImageContainerWidth,
  $cardImageWidth,
  $fontSizeP1,
  $titlePadding,
  $descriptionPadding
) {
  .card {
    /* Display & Box Model */
    width: $cardWidth;
    height: $cardHeight;
    // margin: 0 6px;
  }

  .card-texture {
    /* Positioning */
    position: absolute;
    z-index: -1;

    /* Display & Box Model */
    width: $cardWidth;
    height: $cardHeight;
  }

  .card-content {
    /* Display & Box Model */
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: 2px solid $cardBorderColor;
    border-radius: $cardBorderRadius;

    .card-title {
      /* Display & Box Model */
      padding-top: $titlePadding;
      margin: 0;
      max-width: $cardWidth;

      /* Other */
      font-weight: var(--font-weight);
      text-align: center;      
    }

    .card-image-container {
      /* Display & Box Model */
      display: flex;
      justify-content: center;
      align-items: center;
      width: $cardImageContainerWidth;
      height: $cardImageContainerWidth;
      background-color: black;
      border-radius: 50%;
      border: $cardBorderRadius solid $cardImageBorderColor;

      .card-image img {
        /* Display & Box Model */
        width: $cardImageWidth;
        height: $cardImageWidth;
        object-fit: fill;
        border-radius: 50%;
      }
    }

    .card-description {
      /* Display & Box Model */
      padding: $descriptionPadding;
      padding-bottom: 0;
      border-top: 1px solid $cardImageBorderColor;

      /* Other */
      font-size: $fontSizeP1;
      font-family: var(--font-family-secondary);
      font-weight: var(--font-weight);
      color: $cardDescriptionColor;
      text-align: center;
    }
  }
}

@include cardStyles(
  $cardWidthMobile,
  $cardHeightMobile,
  $cardImageContainerWidthMobile,
  $cardImageWidthMobile,
  $fontSizeP1Mobile,
  $titlePaddingMobile,
  $descriptionPaddingMobile
);

@media (min-width: $screenWidthB1) {
  @include cardStyles(
    $cardWidthB1,
    $cardHeightB1,
    $cardImageContainerWidthB1,
    $cardImageWidthB1,
    $fontSizeP1B1,
    $titlePaddingB1,
    $descriptionPaddingB1
  );
}

@media (min-width: $screenWidthB2) {
  @include cardStyles(
    $cardWidthB2,
    $cardHeightB2,
    $cardImageContainerWidthB2,
    $cardImageWidthB2,
    $fontSizeP1B2,
    $titlePaddingB2,
    $descriptionPaddingB2
  );
}

@media (min-width: $screenWidthB3) {
  @include cardStyles(
    $cardWidthB3,
    $cardHeightB3,
    $cardImageContainerWidthB3,
    $cardImageWidthB3,
    $fontSizeP1B3,
    $titlePaddingB3,
    $descriptionPaddingB3
  );
}

@media (min-width: $screenWidthB4) {
  @include cardStyles(
    $cardWidthB4,
    $cardHeightB4,
    $cardImageContainerWidthB4,
    $cardImageWidthB4,
    $fontSizeP1B4,
    $titlePaddingB4,
    $descriptionPaddingB4
  );
}

@media (min-width: $screenWidthB5) {
  @include cardStyles(
    $cardWidthB5,
    $cardHeightB5,
    $cardImageContainerWidthB5,
    $cardImageWidthB5,
    $fontSizeP1B5,
    $titlePaddingB5,
    $descriptionPaddingB5
  );
}
