/* Mobile Variables */
$cardWidthMobile: 135px;
$cardHeightMobile: 200px;
$cardCaptionHeightMobile: 68px;
$fontSizeTitleMobile: 16px;
$fontSizeP1Mobile: 14px;
$navButtonSizeMobile: 20px;
$captionPaddingMobile: 8px;

/* Breakpoint 2 Variables */
$cardWidthB2: 200px;
$cardHeightB2: 300px;
$fontSizeTitleB2: 22px;
$fontSizeP1B2: 14px;
$navButtonSizeB2: 24px;
$captionPaddingB2: 12px;

/* Breakpoint 3 Variables */
$cardWidthB3: 250px;
$cardHeightB3: 375px;
$fontSizeTitleB3: 24px;
$fontSizeP1B3: 18px;
$navButtonSizeB3: 28px;
$captionPaddingB3: 16px;

/* Breakpoint 4 Variables */
$cardWidthB4: 400px;
$cardHeightB4: 600px;
$fontSizeTitleB4: 36px;
$fontSizeP1B4: 20px;
$navButtonSizeB4: 32px;
$captionPaddingB4: 20px;

$cardBorderRadius: 8px;
$cardImageBorderColor: #eecdb3;
$cardDescriptionColor: #8c4e1c;
$cardBackgroundColor: #fff9f1;
$cardBorderColor: #f5dcc8;

$cardTitleSize: 40px;
$cardDescriptionSize: 20px;

@mixin moreCardStyles(
  $cardWidth,
  $cardHeight,
  $cardCaptionHeight,
  $fontSizeTitle,
  $fontSizeP1,
  $navButtonSize,
  $captionPadding
) {
  .more-card {
    /* Display & Box Model */
    width: $cardWidth;
    height: $cardHeight;

    .more-card-content {
      /* Display & Box Model */
      width: 100%;
      height: 100%;
      // margin: 0 6px;
      border-radius: $cardBorderRadius;

      .more-image {
        /* Display & Box Model */
        width: $cardWidth;
        height: $cardHeight;
        border: 2px solid $cardBorderColor;
        border-radius: $cardBorderRadius;
      }

      .more-caption {
        /* Positioning */
        position: relative;
        z-index: 2;
        top: -$cardCaptionHeight;

        /* Display & Box Model */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: $cardCaptionHeight;
        padding: $captionPadding;
        margin: 0;

        /* Other */
        background-color: $cardBackgroundColor;
        border: 2px solid $cardBorderColor;
        border-top: none;
        border-bottom-left-radius: $cardBorderRadius;
        border-bottom-right-radius: $cardBorderRadius;

        .more-title {
          /* Display & Box Model */
          padding: 0;
          margin: 0;

          /* Other */
          font-size: $fontSizeTitle;

          font-family: var(--font-family-primary);
          font-weight: var(--font-weight);
          line-height: 140%;
          color: black;
        }

        p {
          /* Display & Box Model */
          padding: 0;
          margin: 0;

          /* Other */
          font-family: var(--font-family-secondary);
          font-size: $fontSizeP1;
          color: #666;
          text-transform: capitalize;
        }

        .more-button {
          /* Display & Box Model */
          display: flex;
          align-items: center;
          justify-content: center;
          height: $navButtonSize * 1.6;
          width: $navButtonSize * 1.6;
          background-color: black;
          border-radius: 50%;

          img {
            /* Display & Box Model */
            height: $navButtonSize;
            width: $navButtonSize;
          }
        }
      }
    }
  }
}

@include moreCardStyles(
  $cardWidthMobile,
  $cardHeightMobile,
  $cardCaptionHeightMobile,
  $fontSizeTitleMobile,
  $fontSizeP1Mobile,
  $navButtonSizeMobile,
  $captionPaddingMobile
);

@media (min-width: 801px) {
  @include moreCardStyles(
    $cardWidthB2,
    $cardHeightB2,
    $cardCaptionHeightMobile,
    $fontSizeTitleB2,
    $fontSizeP1B2,
    $navButtonSizeB2,
    $captionPaddingB2
  );
}

@media (min-width: 1201px) {
  @include moreCardStyles(
    $cardWidthB3,
    $cardHeightB3,
    $cardCaptionHeightMobile,
    $fontSizeTitleB3,
    $fontSizeP1B3,
    $navButtonSizeB3,
    $captionPaddingB3
  );
}

@media (min-width: 1441px) {
  @include moreCardStyles(
    $cardWidthB4,
    $cardHeightB4,
    $cardCaptionHeightMobile,
    $fontSizeTitleB4,
    $fontSizeP1B4,
    $navButtonSizeB4,
    $captionPaddingB4
  );
}
