@import '../../design-tokens/scss-variables';

/* Mobile Variables */
$cardCaptionHeightMobile: 68px;
$fontSizeTitleMobile: 16px;
$fontSizeP1Mobile: 14px;
$navButtonSizeMobile: 20px;
$captionPaddingMobile: 8px;

/* Breakpoint 1 Variables */
$cardCaptionHeightB1: 88px;
$fontSizeTitleB1: 22px;
$fontSizeP1B1: 14px;
$navButtonSizeB1: 24px;
$captionPaddingB1: 12px;

/* Breakpoint 2 Variables */
$cardCaptionHeightB2: 80px;
$fontSizeTitleB2: 22px;
$fontSizeP1B2: 14px;
$navButtonSizeB2: 24px;
$captionPaddingB2: 12px;

/* Breakpoint 3 Variables */
$cardCaptionHeightB3: 108px;
$fontSizeTitleB3: 24px;
$fontSizeP1B3: 18px;
$navButtonSizeB3: 28px;
$captionPaddingB3: 16px;

/* Breakpoint 4 Variables */
$cardCaptionHeightB4: 108px;
$fontSizeTitleB4: 24px;
$fontSizeP1B4: 18px;
$navButtonSizeB4: 28px;
$captionPaddingB4: 16px;

/* Breakpoint 4 Variables */
$cardCaptionHeightB5: 96px;
$fontSizeTitleB5: 36px;
$fontSizeP1B5: 20px;
$navButtonSizeB5: 32px;
$captionPaddingB5: 20px;

$cardBorderRadius: 8px;
$cardImageBorderColor: #eecdb3;
$cardDescriptionColor: #8c4e1c;
$cardBackgroundColor: #fff9f1;
$cardBorderColor: #f5dcc8;

$cardTitleSize: 40px;
$cardDescriptionSize: 20px;

@mixin moreCardStyles(
  $cardWidth,
  $cardHeight,
  $cardCaptionHeight,
  $fontSizeTitle,
  $fontSizeP1,
  $navButtonSize,
  $captionPadding
) {
  .more-card {
    /* Display & Box Model */
    width: $cardWidth;
    height: $cardHeight;

    .more-card-content {
      /* Display & Box Model */
      width: 100%;
      height: 100%;
      // margin: 0 6px;
      border-radius: $cardBorderRadius;

      .more-image {
        /* Display & Box Model */
        width: $cardWidth;
        height: $cardHeight;
        border: 2px solid $cardBorderColor;
        border-radius: $cardBorderRadius;
        object-fit: cover;
      }

      .more-caption {
        /* Positioning */
        position: relative;
        z-index: 2;
        top: -$cardCaptionHeight;

        /* Display & Box Model */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: $cardCaptionHeight;
        padding: $captionPadding;
        margin: 0;

        /* Other */
        background-color: $cardBackgroundColor;
        border: 2px solid $cardBorderColor;
        border-top: none;
        border-bottom-left-radius: $cardBorderRadius;
        border-bottom-right-radius: $cardBorderRadius;

        .more-title {
          /* Display & Box Model */
          padding: 0;
          margin: 0;

          /* Other */
          text-transform: capitalize;

          font-family: var(--font-family-primary);
          font-weight: var(--font-weight);
          line-height: 140%;
          // color: black;
        }

        p {
          /* Display & Box Model */
          padding: 0;
          margin: 0;

          /* Other */
          font-family: var(--font-family-secondary);
          font-size: $fontSizeP1;
          color: #666;
          text-transform: capitalize;
        }

        .more-button {
          /* Display & Box Model */
          display: flex;
          align-items: center;
          justify-content: center;
          height: $navButtonSize * 1.6;
          width: $navButtonSize * 1.6;
          background-color: black;
          border-radius: 50%;

          img {
            /* Display & Box Model */
            height: $navButtonSize;
            width: $navButtonSize;
          }
        }
      }
    }
  }
}

@include moreCardStyles(
  $cardWidthMobile,
  $cardHeightMobile,
  $cardCaptionHeightMobile,
  $fontSizeTitleMobile,
  $fontSizeP1Mobile,
  $navButtonSizeMobile,
  $captionPaddingMobile
);

@media (min-width: $screenWidthB1) {
@include moreCardStyles(
  $cardWidthB1,
  $cardHeightB1,
  $cardCaptionHeightB1,
  $fontSizeTitleB1,
  $fontSizeP1B1,
  $navButtonSizeB1,
  $captionPaddingB1
);
}


@media (min-width: $screenWidthB2) {
  @include moreCardStyles(
    $cardWidthB2,
    $cardHeightB2,
    $cardCaptionHeightB2,
    $fontSizeTitleB2,
    $fontSizeP1B2,
    $navButtonSizeB2,
    $captionPaddingB2
  );
}

@media (min-width: $screenWidthB3) {
  @include moreCardStyles(
    $cardWidthB3,
    $cardHeightB3,
    $cardCaptionHeightB3,
    $fontSizeTitleB3,
    $fontSizeP1B3,
    $navButtonSizeB3,
    $captionPaddingB3
  );
}

@media (min-width: $screenWidthB4) {
  @include moreCardStyles(
    $cardWidthB4,
    $cardHeightB4,
    $cardCaptionHeightB4,
    $fontSizeTitleB4,
    $fontSizeP1B4,
    $navButtonSizeB4,
    $captionPaddingB4
  );
}

@media (min-width: $screenWidthB5) {
  @include moreCardStyles(
    $cardWidthB5,
    $cardHeightB5,
    $cardCaptionHeightB5,
    $fontSizeTitleB5,
    $fontSizeP1B5,
    $navButtonSizeB5,
    $captionPaddingB5
  );
}
