.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 134px;

  h1 {
    font-family: Ogg;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    text-align: center;
    letter-spacing: -0.0041em;

    color: #000000;

    margin: 0 0 20px 0;
    padding: 0;
  }

  p {
    font-family: "Akagi Pro Light";
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 300px;
    max-width: 100%;
    text-align: center;
  }

  .nav-links {
    // width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 20px 0 40px 0;
  }
}

@media (min-width: 681px) {
}

@media (min-width: 1201px) {
  .header {
    h1 {
      font-size: 60px;
      line-height: 72px;
    }

    p {
      font-size: 32px;
      width: 760px;
    }

    .nav-links {
      margin: 36px 0 84px 0;
    }
  }
}
