/* Mobile Variables */
$fontSizeH1Mobile: 26px;
$fontSizeP2Mobile: 18px;

/* Medium Variables */
$fontSizeH1Medium: 36px;
$fontSizeP2Medium: 26px;

/* Large Variables */
$fontSizeH1Large: 60px;
$fontSizeP2Large: 32px;

$footerTextColor: #666;

.footer {
  /* Display & Box Model */
  display: flex;
  width: 100%;
  padding: 80px 20px;

  /* Other */
  background-color: #fafafa;

  h1 {
    /* Display & Box Model */
    padding: 0;
    margin: 0;
    margin-bottom: 40px;

    /* Other */
    font-size: $fontSizeH1Mobile;
    line-height: 36px;
    font-weight: var(--font-weight);
  }

  .footer-links {
    /* Display & Box Model */
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    p {
      /* Display & Box Model */
      padding: 0;
      margin: 0;
      margin-right: 16px;
      margin-bottom: 16px;

      /* Other */
      color: $footerTextColor;
      font-size: $fontSizeP2Mobile;
      font-weight: var(--font-weight);

      a {
        /* Other */
        color: inherit;
        text-decoration: none;

        &:visited {
          /* Other */
          color: inherit;
        }
      }
    }
  }
}

@media (min-width: 681px) {
  .footer {
    /* Display & Box Model */
    padding: 80px 60px;

    h1 {
      /* Other */
      font-size: $fontSizeH1Medium;
    }

    .footer-links {
      p {
        /* Other */
        font-size: $fontSizeP2Medium;
      }
    }
  }
}

@media (min-width: 1201px) {
  .footer {
    /* Display & Box Model */
    padding: 120px 80px;

    h1 {
      /* Display & Box Model */
      margin-bottom: 80px;
      margin-right: 16px;

      /* Other */
      font-size: $fontSizeH1Large;
    }

    .footer-links {
      p {
        /* Display & Box Model */
        margin-right: 40px;

        /* Other */
        font-size: $fontSizeP2Large;
      }
    }
  }
}
