@import "../../design-tokens/scss-variables";

$footerTextColor: #666;

$paddingFooterMobile: 20px;
$linkGapMobile: 16px;

$paddingFooterB1: 20px;
$linkGapB1: 16px;

$paddingFooterB2: 28px;
$linkGapB2: 20px;

$paddingFooterB3: 32px;
$linkGapB3: 20px;

$paddingFooterB4: 40px;
$linkGapB4: 24px;

$paddingFooterB5: 48px;
$linkGapB5: 28px;

$paddingFooterB6: 52px;
$linkGapB6: 32px;

@mixin footerStyles($contentMaxWidth, $paddingFooter, $linkGap) {
  .footer {
    /* Display & Box Model */
    width: 100vw;

    /* Other */
    background-color: #fafafa;

    .footer-content {
      /* Display & Box Model */
      display: flex;
      flex-direction: column;
      width: $contentMaxWidth;
      padding: $paddingFooter * 2 0;
      margin: 0 auto;

      h1 {
        /* Display & Box Model */
        padding: 0;
        margin: 0;
        margin-bottom: $paddingFooter;

        /* Other */
        line-height: 36px;
        font-weight: var(--font-weight);
      }

      .footer-links {
        /* Display & Box Model */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: $linkGap;
        column-gap: $linkGap;

        h2 {
          /* Display & Box Model */
          padding: 0;
          margin: 0;

          /* Other */
          color: $footerTextColor;
          font-weight: var(--font-weight);

          a {
            /* Other */
            color: inherit;
            text-decoration: none;

            &:visited {
              /* Other */
              color: inherit;
            }
          }
        }
      }
    }
  }
}

@include footerStyles(
  $contentMaxWidthMobile,
  $paddingFooterMobile,
  $linkGapMobile
);

@media (min-width: $screenWidthB1) {
  @include footerStyles($contentMaxWidthB1, $paddingFooterB1, $linkGapB1);
}

@media (min-width: $screenWidthB2) {
  @include footerStyles($contentMaxWidthB2, $paddingFooterB2, $linkGapB2);
}

@media (min-width: $screenWidthB3) {
  @include footerStyles($contentMaxWidthB3, $paddingFooterB3, $linkGapB3);
}

@media (min-width: $screenWidthB4) {
  @include footerStyles($contentMaxWidthB4, $paddingFooterB4, $linkGapB4);
}

@media (min-width: $screenWidthB5) {
  @include footerStyles($contentMaxWidthB5, $paddingFooterB5, $linkGapB5);
}

@media (min-width: $screenWidthB6) {
  @include footerStyles($contentMaxWidthB6, $paddingFooterB6, $linkGapB6);
}
