/* Mobile Variables */
$navHeightMobile: 120px;
$navLogoContainerWidthMobile: 106px;
$navLogoContainerHeightMobile: 62px;
$navLogoWidthMobile: 100px;
$navLogoHeightMobile: 56px;

.nav {
  /* Positioning */
  position: fixed;
  z-index: 3;

  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: $navHeightMobile;

  /* Other */
  background-color: white;

  .nav-bar {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .nav-link {
      /* Positioning */
      position: relative;
      bottom: 12px;

      /* Display & Box Model */
      padding: 0px 10px;

      /* Other */
      text-decoration: none;
      font-size: var(--nav-font-size-mobile);
      font-weight: var(--font-weight);
      color: black;

      a { color: inherit; } 

      &:visited {
        color: black;
      }
      &:active {
        color: black;
      }
    }

    .nav-logo-container {
      /* Positioning */
      z-index: 2;

      /* Display & Box Model */
      display: flex;
      justify-content: center;
      align-items: center;

      width: $navLogoContainerWidthMobile;
      height: $navLogoContainerHeightMobile;
      border: 2px solid black;
      border-radius: 4px;

      /* Other */
      background-color: white;

      img {
        /* Display & Box Model */
        width: $navLogoWidthMobile;
        height: $navLogoHeightMobile;
        border-radius: 4px;

        /* Other */
        object-fit: fit;
      }
    }
  }

  .nav-gradient {
    /* Positioning */
    position: absolute;
    z-index: 1;

    /* Display & Box Model */
    width: 80%;
    height: 2px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.12) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0.12) 100%
    );
  }
}

@media (min-width: 681px) {
  .nav {
    .nav-bar {
      .nav-link {
        /* Other */
        font-size: var(--nav-font-size-desktop);
      }
    }
  }
}
