* {
  box-sizing: border-box;
  font-family: Ogg;

  img {
    vertical-align: middle;
  }
}

.route-wrapper {
  position: relative;

}

.App {
  width: 100%;
  
}

.route-wrapper > div {
  position: absolute;
  width: 100%;
}