@import "../../design-tokens/scss-variables";
@import "../../components/ProductCard/ProductCard.scss";

$navHeight: 120px;
$fontSizeSectionNameMobile: 14px;
$fontSizeP1Mobile: 14px;
$titlePaddingBottomMobile: 8px;

$fontSizeSectionNameB1: 14px;
$fontSizeP1B1: 14px;
$titlePaddingBottomB1: 8px;

$fontSizeSectionNameB2: 16px;
$fontSizeP1B2: 18px;
$titlePaddingBottomB2: 40px;

$fontSizeSectionNameB3: 16px;
$fontSizeP1B3: 22px;
$titlePaddingBottomB3: 40px;

$fontSizeSectionNameB4: 18px;
$fontSizeP1B4: 28px;
$titlePaddingBottomB4: 40px;

$fontSizeSectionNameB5: 20px;
$fontSizeP1B5: 32px;
$titlePaddingBottomB5: 40px;

@mixin productPage($pageMaxWidth, $fontSizeSectionName, $fontSizeP1, $titlePaddingBottom, $cardGap) {
  .products-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: $pageMaxWidth;
    padding-top: $navHeight + $titlePaddingBottom * 3;
    margin: 0 auto;

    .products-info {
      text-align: left;
    }

    .section {
      &__name {
        padding: 0;
        margin: 0;
        color: #666;
        font-family: $fontFamilyPrimary;
        font-size: $fontSizeSectionName;
      }

      &__title {
        padding: 0;
        padding-bottom: $titlePaddingBottom;
        margin: 0;
        text-transform: capitalize;
      }

      &__description {
        width: 90%;
        padding: 0;
        padding-bottom: $titlePaddingBottom;
        margin: 0;
        font-size: $fontSizeP1;
        font-weight: 700;
        font-family: $fontFamilySecondary;
      }

      .button--back {
        margin-bottom: $titlePaddingBottom * 2;
      }
    }
    .products-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $cardGap;
      row-gap: $cardGap;
      margin-bottom: $titlePaddingBottom;
    }
  }
}

@include productPage(
  $contentMaxWidthMobile,
  $fontSizeSectionNameMobile,
  $fontSizeP1Mobile,
  $titlePaddingBottomMobile,
  $cardGapMobile
);

@media (min-width: $screenWidthB1) {
  @include productPage($contentMaxWidthB1, $fontSizeSectionNameB1, $fontSizeP1B1, $titlePaddingBottomB1, $cardGapB1);

  .products-page {
    .products-info {
      margin: 0;
    }

    .products-container {
      grid-template-columns: 1fr 1fr 1fr !important;
    }
  }
}

@media (min-width: $screenWidthB2) {
  @include productPage($contentMaxWidthB2, $fontSizeSectionNameB2, $fontSizeP1B2, $titlePaddingBottomB2, $cardGapB2);
}

@media (min-width: $screenWidthB3) {
  @include productPage($contentMaxWidthB3, $fontSizeSectionNameB3, $fontSizeP1B3, $titlePaddingBottomB3, $cardGapB3);
}

@media (min-width: $screenWidthB4) {
  @include productPage($contentMaxWidthB4, $fontSizeSectionNameB4, $fontSizeP1B4, $titlePaddingBottomB4, $cardGapB4);
}

@media (min-width: $screenWidthB5) {
  @include productPage($contentMaxWidthB5, $fontSizeSectionNameB5, $fontSizeP1B5, $titlePaddingBottomB5, $cardGapB5);
}
